{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/contact-us.js"></script>
{% endblock %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact AMP{%endblock%}

{% block content %}

<h1 id='emailNotification' value="{{success}}">
{% if notification %}
    {{notification}}
{% endif %}
</h1>

<div id="contactBand">
  <p class="pageHeader">Fill out the form below to contact AMP</p>
</div>

<div>
  <form id="contactForm" class="contactPageText" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
