{% extends "base.twig" %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact The AMP Band Members{%endblock%}

{% block content %}

<br/>

<p class="pageText">To contact <a id="infoemail" href="mailto:info@agilemusicproject.com">The Agile Music Project</a>
  email us at info@agilemusicproject.com
</p>
<div id="contactBand">

  <p class="pageHeader">To contact the Band Members</p>

  {% for row in results %}
  <p class="contactPageText">{{ row.Instrument }}:</br> 
    {{ row.firstName }} {{ row.lastName }}</br>
    <a id="{{ row.firstName }}email" href="mailto:{{row.Email}}">{{ row.Email }}</a>
  </p>
{% endfor %}
</div>

<div id="contactForm">
  <form class="contactPageText" method="post" enctype="text/plain">

    <div id="form">
      <div>
        <label for="form_first_name" class="required">First name</label>
        <input type="text" id="form_first_name" name="form[first_name]" required="required" value="Your first name">
      </div>
      <div>
        <label for="form_last_name" class="required">Last name</label>
        <input type="text" id="form_last_name" name="form[last_name]" required="required" value="Your last name">
      </div>
      <div>
        <label for="form_email" class="required">Email</label>
        <input type="text" id="form_email" name="form[email]" required="required" value="Your email">
      </div>
      <div>
        <label for="form_instrument" class="required">Instrument</label>
        <input type="text" id="form_instrument" name="form[instrument]" required="required" value="You play??">
      </div>
      <div>
        <button type="submit" id="form_submit" name="form[submit]">Submit</button>
      </div>
    </div>

  </form>
</div>
{% endblock %}