{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script src="/js/update-form.js"></script>
{% endblock %}

{% block onload %} draw{{ page }}PostNote() {% endblock %}

{% block title %} {{ page }} {% endblock %}

{% block postit %}<canvas id="{{ route }}postcard" class="postitheader">{{ page }}</canvas>{% endblock %}

{% block header %} {{ title }} Content {%endblock%}

{% block content %}
<div id="{{ route }}EditForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
  <form class="cancel_button">
    <input onclick="location.href='/{{ route }}/'" type="button" value="Cancel"/>
  </form>
  <script>
    CKEDITOR.replace('form_content');
  </script>
</div>
{% endblock %}
