{% extends "base.twig" %}

{% block onload %} drawContactPostNote() {% endblock %}

{% block title %} Contact Us {% endblock %}

{% block postit %}<canvas id="contactuspostcard" class="postitheader">Contact Us</canvas>{% endblock %}

{% block header %}Contact The AMP Band Members{%endblock%}

{% block content %}

<br/>

<p class="pageText">To contact <a id="infoemail" href="mailto:info@agilemusicproject.com">The Agile Music Project</a>
  email us at info@agilemusicproject.com
</p>
<div id="contactBand">

  <p class="pageHeader">To contact the Band Members</p>

  {% for row in table %}
  <p class="contactPageText">{{ row.Instrument }}:</br> 
    <a id="{{ row.firstName }}email" href="mailto:{{row.Email}}">{{ row.firstName }} {{ row.lastName }}</a></br>
    {{ row.Email }}
  </p>
  {% endfor %}
</div>

<div id="contactForm">
  <form class="contactPageText" method="post" enctype="text/plain">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}