{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %}Meet the Band{%endblock%}

{% block loginButton %}
<button onclick="visitAddBandMembersPage();" id="meetBandButton" type="button">Add Band Member</button>
{% endblock %}

{% block content %}
{% for row in results %}
<p class="bandMemberEntry">
  {% if not (row.photo_filename is null) %}
    <img src="images/photos/{{ row.photo_filename }}" /><br/>
  {% endif %}
  <span class="bandMemberRoles">{{ row.roles }}</span>:<br/>
  <span class="bandMemberName">{{ row.first_name }} {{ row.last_name }}</span><br/>
  {% if not (row.bio is null) %}
    {{ row.bio }} <br/>
  {% endif %}
  <a href="meettheband/update/{{ row.id }}">Edit</a>
</p>
<form method="post" action="/meettheband">
  <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
  <input type="submit" value="Delete">
</form>
{% endfor %}
{% endblock %}
