{% extends "base.twig" %}

{% block onload %} drawBandPostNote() {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %}Meet the Band{%endblock%}

{% block content %}
{% for row in results %}
<p class="meetBandPageText">
  {% if not (row.photo_filename is null) %}
    <img src="images/photos/{{ row.photo_filename }}" /><br/>
  {% endif %}
  {{ row.roles }}:<br/>
  {{ row.first_name }} {{ row.last_name }}<br/>
  {{ row.bio }}
</p>
{% endfor %}
{% endblock %}
