{% extends "base.twig" %}

{% block javascript %}
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script src="/js/preview-photo.js"></script>
  <script src="/js/update-form.js"></script>
{% endblock %}

{% block onload %} drawBandPostNote(); {% endblock %}

{% block title %} Meet the Band {% endblock %}

{% block postit %}<canvas id="meetTheBandpostcard" class="postitheader">Meet the Band</canvas>{% endblock %}

{% block header %} {{ title }} Band Member {%endblock%}

{% block content %}
<div>
  <form id="photoEditForm" method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <div class="previewContainer">
      {% if not photoName is empty %}
        <label id="oldPreviewLabel">Old:</label>
        <img id="oldBioPhoto" class="oldPreview" src="/images/photos/thumbnails/thumb_{{ photoName }}" alt="c"/>
      {% endif %}
      <label id="newPreviewLabel">New:</label>
      <img id="previewBioPhoto" class="preview" src="#" alt="Cannot find image"/>
    </div>
  </form>
  <form>
    <input class="cancel_button" onclick="location.href='/meettheband/'" type="button" value="Cancel"/>
  </form>
  <script>
    CKEDITOR.replace('form_bio');
  </script>
</div>
{% endblock %}

