{% extends "base.twig" %}

{% block onload %} drawPhotosPostNote() {% endblock %}

{% block javascript %}
  <script src="/js/update-form.js"></script>
  <script src="/js/preview-photo.js"></script>
{% endblock %}

{% block title %} Photos {% endblock %}

{% block postit %}<canvas id="photospostcard" class="postitheader">About</canvas>{% endblock %}

{% block header %} {{ title }} Photos {%endblock%}

{% block content %}
<div id="photoEditForm">
  <form method="POST" enctype="multipart/form-data">
    {{ form_errors(form) }}
    {% if form.photo_actions is not null %}
      {{ form_row(form.photo_actions) }}
      {{ form_row(form.photo) }}
      <div class="previewContainer">
        <img id="previewPhotoPage" class="preview" src="#" alt="preview image"/>
      </div>
    {% endif %}
    {{ form_rest(form) }}
  </form>
</div>
<form class="cancel_button">
  <input onclick="location.href='/photos/'" type="button" value="Cancel"/>
</form>
{% endblock %}
