{% extends "base.twig" %}

{% block javascript %}
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="/js/photo-gallery.js"></script>
{% endblock %}

{% block onload %} drawPhotosPostNote() {% endblock %}

{% block title %} Photos {% endblock %}

{% block postit %}<canvas id="photospostcard" class="postitheader">Photos</canvas>{% endblock %}

{% block content %}
<div id="photoGallery">
{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input class="addButton" onclick="location.href='/photos/add'" type="button" value="Add Photo"/>
  </form>
{% endif %}

 <div id="galleryTab">
   <a data-rel="all"  href="javascript:;" class="filter active">View all</a>
{% for row in categories %}
   <a data-rel="{{ row.category }}" href="javascript:;" class="filter">{{ row.category }}</a>
{% endfor %}
</div>

{% for row in results %}
  <div class = "photoContainer" data-fancybox-group="gallery" data-filter="{{ row.category }}">
    <a class="fancybox imageLink" data-fancybox-group="gallery" href="/images/photos/{{ row.filename }}"
      data-title-id="title-{{ row.id }}" data-filter="{{ row.category }}">
      <img class="fancyphoto" src="/images/photos/thumbnails/thumb_{{ row.filename }}"  alt="{{ row.caption }}"/>
    </a>
    <p class="caption" data-fancybox-group="gallery" data-filter="{{ row.category }}">
      {{ row.caption }}
    </p>
  </div>
  <div id="title-{{ row.id }}" class="hidden">
    {{ row.caption }}
    {% if is_granted('ROLE_ADMIN') %}
      <form class="edit_caption">
        <input onclick="location.href='/photos/edit/{{ row.id }}'" type="button" value="Edit Caption / Category"/>
      </form>
      <form class="deleteBox" method="post" action="/photos/">
        <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
        <input class="deleteButton" onclick="return deletePopUp();" type="submit" value="Delete Photo">
      </form>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}
