{% extends "base.twig" %}

{% block javascript %}
<script type="text/javascript" src="/js/jssor/jssor.core.js"></script>
<script type="text/javascript" src="/js/jssor/jssor.utils.js"></script>
<script type="text/javascript" src="/js/jssor/jssor.slider.js"></script>
<script type="text/javascript" src="/js/photo_gallery.js"></script>
{% endblock %}

{% block onload %} drawPhotosPostNote() {% endblock %}

{% block title %} Photos {% endblock %}

{% block postit %}<canvas id="photospostcard" class="postitheader">Photos</canvas>{% endblock %}

{% block content %}
{% if is_granted('ROLE_ADMIN') %}
  <form>
    <input onclick="location.href='/photos/add'" type="button" value="Add Photos"/>
  </form>
{% endif %}
<div id="photo_gallery" style="position: relative; width: 600px; height: 300px;">
  <div u="slides"  style="cursor: move; position: absolute; left: 0px; top: 0px; width:900px; height:300px; overflow: hidden;">
    {% for row in results %}
      <!-- <a href="/images/photos/{{ row.filename }}"></a>  -->
      <!-- Slide -->
      <div>
        <img u="image" src="/images/photos/thumbnails/thumb_{{ row.filename }}" />
        <div u="caption" t="B" style="position: absolute; top: 250px; left: 150px;
          width: 600px; height: 50px;">
          <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
            background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
          </div>
          <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
            color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
            {% if not (row.caption is null) %}
              {{ row.caption }}
            {% endif %}   
            <form class="edit_caption">
              <input onclick="location.href='/photos/edit/{{ row.id }}'" type="button" value="Edit"/>
            </form>
          </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
          <div u="caption" t="" style="position: absolute; top: 0px; left: 150px;
            width: 600px; height: 50px;">
            <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
              background-color: Black; opacity: 0.5; filter: alpha(opacity=50);">
            </div>
            <div style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px;
              color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
              <form method="post" action="/photos/">
                <input class="deleteID" name="id" type="hidden" id="id" value="{{ row.id }}">
                <input type="submit" value="Delete Photo">
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
